@import "~bootstrap/scss/bootstrap";

:root {
  --font-family-primary: 'Vollkorn', serif;
  --font-family-secondary: 'PT Sans', sans-serif;
  
  --font-size-title: 32px;
  --line-height-title: 1.4;
  --font-size-caption: 14px;
  --line-height-caption: 1.2;
  
  --color-text: #222022;
  --color-highlight-primary: #FFEF7E;
  --color-highlight-secondary: #B7F9E9;
  --border-radius-primary: 32px; 
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin mediaBig {
  @media (min-width: 576px) {
    @content;
  }
}

@include mediaBig {
  :root {
    --font-size-title: 40px;
  }  
}

.card {
  max-width: 960px;
  border-radius: var(--border-radius-primary);
  box-shadow: 24px 24px 80px rgba(0,0,0,0.1);
  padding: 20px 20px 28px 20px;
  box-sizing: border-box;
  margin: 20px;
  display: flex;
  flex-direction: column;
  
  @include mediaBig {
    flex-direction: row;
    align-items: center;
    margin: 40px;
    padding: 32px;
  }
}

.card img {
  width: 100%;
  max-height: 300px;
  border-radius: var(--border-radius-primary);
  object-fit: cover;
  margin-bottom: 18px;
  
  @include mediaBig {
    width: 45%;
    max-height: none;
    min-height: 400px;
    margin-bottom: 0;
  }
}

.card__content {
  @include mediaBig {
    width: 55%;
    padding-left: 40px;
  }
}

.card__date {
  display: block;
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  text-transform: uppercase;
  color: var(--color-text);
  margin-bottom: 6px;
  
  @include mediaBig {
    margin-bottom: 8px;
  }
}

.card__title {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-title);
  line-height: var(--line-height-title);
  color: var(--color-text);
  box-decoration-break: clone;
  background-image: linear-gradient(90deg, var(--color-highlight-primary), var(--color-highlight-secondary));
  background-size: 100% 42%;
  background-repeat: no-repeat;
  background-position: 0 85%;
  padding: 0 4px;
  margin-left: -4px;
}
.card__desc {
  font-family: var(--font-family-primary);
  font-size: 26px;
  line-height: var(--line-height-title);
  color: black;
  box-decoration-break: clone;
  background-size: 100% 40%;
  background-repeat: no-repeat;
  background-position: 0 85%;
  padding: 0 2px;
  margin-left: -4px;
}